.products__title {
    display: flex;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    justify-content: center;
}

.products__text {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    justify-content: center;
}

.products__item {
    width: 360px;
    min-height: 260px;
    background-color: #C0C0C0;
    margin-top: 30px;
    margin-right: 30px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 230px;
    padding-right: 230px;
    justify-content: center;
    align-items: center
}


.products__item-img {
    height: 420px;
    width: 360px;
}

.products__item-title{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.products__item-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.products__item-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;  
}